```
python -m pip install "dask[complete]"
```

In [12]:
import pandas as pd
from sklearn.datasets import make_classification
import glob
import dask.dataframe as dd

In [13]:
for i in range(1, 11):
    print('创建 test_%d.csv' % i)
    x, y = make_classification(n_samples=100_000, n_features=100)
    df = pd.DataFrame(data=x)
    df['y'] = y
    df.to_csv('./data/dask_data/test_%d.csv' % i, index=False)

创建 test_1.csv
创建 test_2.csv
创建 test_3.csv
创建 test_4.csv
创建 test_5.csv
创建 test_6.csv
创建 test_7.csv
创建 test_8.csv
创建 test_9.csv
创建 test_10.csv

In [14]:
%%time

df_list = []
for file in glob.glob('./data/dask_data/test_*.csv'):
    df_ = pd.read_csv(file)
    df_list.append(df_)
df = pd.concat(df_list)
df.shape

CPU times: user 20.4 s, sys: 3.94 s, total: 24.3 s
Wall time: 24.3 s

(1000000, 101)

In [15]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 99999
Columns: 101 entries, 0 to y
dtypes: float64(100), int64(1)
memory usage: 778.2 MB

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,y
0,1.828721,-2.114304,-0.905244,-0.259237,1.412799,-0.067901,1.286529,-0.882725,-0.847326,0.400505,...,-2.879399,-0.231125,1.048071,-1.973970,0.334500,-1.386493,0.696828,0.092615,0.565590,0
1,1.383999,0.824542,0.339164,-1.430962,-0.601582,-0.239777,0.385469,-0.321220,-0.892520,1.457037,...,1.316623,-0.593951,0.367487,0.555137,0.958412,-0.106074,0.268736,0.820467,1.299332,0
2,-1.349638,-0.363348,0.127111,-0.442155,0.320757,0.170465,-1.235266,0.518046,-2.468218,0.639260,...,-0.704430,-0.987114,0.722610,-0.128892,0.271635,-1.149973,0.834952,-0.249592,-0.554042,1
3,-1.043174,-0.468837,1.994105,-1.707017,1.663338,-0.060764,1.509859,1.036977,0.694708,-1.354223,...,0.871424,1.516713,1.866168,-0.690004,1.341017,0.104675,-1.133161,0.581784,0.535151,0
4,1.322279,-0.850668,0.710705,-0.991021,-1.226483,-0.521772,0.249594,0.164892,-0.682996,1.273771,...,0.868495,-0.780112,-0.016639,-0.241537,0.616442,0.188719,0.010123,-0.906872,0.007898,0

In [20]:
%%time

df = dd.read_csv('./data/dask_data/test_*.csv')

CPU times: user 144 ms, sys: 182 µs, total: 144 ms
Wall time: 142 ms

In [21]:
df.info(memory_usage='deep')

<class 'dask.dataframe.core.DataFrame'>
Columns: 101 entries, 0 to y
dtypes: float64(100), int64(1)
memory usage: 770.6 MB

In [24]:
%%time

df = dd.read_csv('./data/dask_data/test_*.csv').compute()

CPU times: user 35.4 s, sys: 3.52 s, total: 38.9 s
Wall time: 8.11 s

In [23]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 2291
Columns: 101 entries, 0 to y
dtypes: float64(100), int64(1)
memory usage: 778.2 MB

In [ ]:
#!sudo apt-get install graphviz

In [10]:
exec_graph = dd.read_csv('./data/dask_data/test_*.csv')
exec_graph.visualize(filename='exec_graph.pdf')